.button {
    background-color: var(--start-button-color);
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
}

.page-message {
    grid-area: header;
    font-size: large;
    display: flex;
    justify-content: center;
}

.page-name_input {
    grid-area: body;
    font-size: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-start_button {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .input {
    background-color: var(--cell-color);
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) inset, 0 3px 10px 0 rgb(0 0 0 / 19%) inset;
} */

.page {
    display: grid;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    grid-gap: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.change-template-button {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.templateButton {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}